/* CSS */
.container {
    position: relative;
    padding: 200;
}

text {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    pointer-events: none;
}

#chart {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
}

#question {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 450px;
}

#question h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #EF3A53;
}